<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
<!-- 	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<file>qsx-ums.log</file> -->
<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 			<fillNamePatten>qsx-ums-log.%d{yyyy-MM-dd}.log</fillNamePatten> -->
<!-- 		</rollingPolicy> -->
<!-- 		<encoder> -->
<!-- 			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->

	<logger name="com.base22" level="TRACE" />
<!-- 	<logger name="com.qingshixun.project" level="DEBUG"/> -->
<!-- 	<logger name="org.springframework" level="ERROR"/> -->
<!-- 	<logger name="org.hibernate" level="ERROR"/> -->
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
<!-- <rool level="debug"> -->
<!-- 	<appender-ref ref="STDOUT"/> -->
<!-- 	<appender-ref ref="rollingFile"/> -->
<!-- </rool> -->

</configuration>